<meta property="og:type" content="website">
<meta property="og:title" content="{{ .Site.Title }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="og:image" content="{{ .Site.BaseURL }}img/ogp/ogp.jpg">

<meta name="twitter:card" content="summary">
<meta name="twitter:site:id" content="@thekronos07">
<meta name="twitter:creator" content="@thekronos07">